#login{
    position:absolute;
    margin-left: 91.5%;
    top: 7%;
    width: 8%;
    padding-bottom: 5rem;
}



#escudo{
    width: 65px;
    position: absolute;
    right: 94%;
    top: 7%;
}

.login-boton{
    color: black;
    font-size: 11px;
    font-family: 'Barlow', sans-serif;
    padding: 1rem 0 0 0;
    background-color: #f1f0f0;
    border: solid 2px black;
    border-radius: 0;

}

.login-boton:hover{
    background-color: var(--primario);
}

.titulo {
    display: inline-block;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    /*Más recomendable esto que poner el texto en el documento HTML en mayúsculas*/
    font-weight: bold;
    border-radius: .5rem;
    /*Para conseguir que el botón tenga bordes redondeados*/
    width: 90px;
    /*Definimos un tamaño de botón mayor dado que en un teléfono la precisión es menor*/
    text-align: center;
    border: none;
    float:right;
}