.contenedor{
    display: inline-block;
    width: 33%
}

.centro{
    text-align: center;
    position: relative;
    top: -25px;
}

.derecho{
    text-align: right;
}

#logo{
    display: block;
    width: 80px;
    margin-left: 20px;
    margin-top: 20px;
}

#login-boton{
    color: black;
    font-size: 11px;
    font-family: 'Barlow', sans-serif;
    padding: 0.5rem 0.5rem 0 0.5rem;
    background-color: #f1f0f0;
    border: solid 2px black;
    border-radius: 0;
    position: relative;
    top: -30px;
}



#login-boton:hover{
    background-color: var(--primario);
}