<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&display=swap" rel="stylesheet">
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" th:href="@{/images/logo_mdai.png}" />
	<meta charset="ISO-8859-1">
<title>Error</title>
</head>
<body>
	<header>

		<h1 class="titulo">Studient</h1>
		<img id="escudo" th:src="@{/images/logo_mdai.png}" alt="Logo Studient" />

	</header>
	
	<div class="mensaje_error">
		<h3 th:text="${Error}">Ha habido un error en el sistema</h3>
		
		<a th:href="@{/}">Login</a>
		<a th:href="@{/register}">Registrarse</a>
	</div>
	
	<footer class="footer">
		<p>Todos los derechos reservados. Álvaro Barroso y José Jiménez</p>
	</footer>
</body>
</html>