<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Studient</title> <!-- Lo que se muestra en la pestaña del navegador -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Barlow&display=swap" rel="stylesheet">
	<link href="/css/cabecera.css" rel="stylesheet">
	<link rel="stylesheet" href="/webjars/bootstrap/5.0.0/css/bootstrap.min.css">
	<link rel="shortcut icon" type="image/png" href="/images/logo_mdai.png" />

<body>

	<header class ="navbar-light bg-light">
		<div class="contenedor">
			<img src="/images/logo_mdai.png" id="logo">
		</div>
		<div class="contenedor centro">
			<h1>Studient</h1>
		</div>

		<div class="contenedor derecho">
			<div class="nav-item text-nowrap">
				<a class="nav-link px-3" th:href="@{/logout}">
					<button style="position: relative; top: -30px"class="btn btn-outline-success my-2 my-sm-0" type="submit">
						Cerrar sesión
					</button>
				</a>
			</div>
		</div>

	</header>

</body>

</html>